*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

input:focus-visible {
    outline: none;
}

button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 8px;
    padding: 8px 16px;
    border: none;
}

.container {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#categories {
    color: #2e2f42;
    width: 440px;
}

.item {
    background-color: #f6f6fe;
    border-radius: 8px;
    padding: 16px;
}

.item:not(:last-child) {
    margin-bottom: 24px;
}

.item-title {
    margin-bottom: 16px;
    font-weight: 600px;
    font-size: 24px;
    line-height: 1.33em;
}

.item-option>li {
    border: 1px solid #808080;
    border-radius: 4px;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.item-option>li:not(:last-child) {
    margin-bottom: 8px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.gallery>li {
    width: calc((100% - 48px)/3);
}

/* --------------------- */

#name-input {
    width: 360px;
    height: 40px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #2e2f42;
    padding-left: 16px;
}

#name-input+h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: #2e2f42;
}

/* ------------------ */

.login-form {
    padding: 24px;
    width: 408px;
}

.login-form>label>input {
    display: flex;
    flex-wrap: wrap;
    width: 360px;
    height: 40px;
    border: 1px solid #808080;
    border-radius: 4px;
    padding-left: 16px;
}

.login-form>label {
    display: block;
    margin-bottom: 16px;
    font-size: 16px;
}

.login-form>button {
    height: 40px;
    background: #4e75ff;
}

.login-form>label>input:hover,
.login-form>label>input:active {
    border: 1px solid #000;
}

.login-form>button:hover,
.login-form>button:focus {
    background: #6c8cff;
}

/* ------------------------- */

.widget {
    margin: 0 auto;
    border-radius: 8px;
    padding-top: 100px;
    width: 345px;
    height: 280px;
    background-color: teal;
    text-align: center;

}

.widget>p {
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
}

.change-color {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 8px;
    padding: 8px 16px;
    margin-top: 16px;
    height: 40px;
    background: #4e75ff;
    border: none;
}

/* ----------------------------- */

#controls {
    display: flex;
    column-gap: 8px;
    padding: 32px;
    margin-bottom: 16px;
    background: #f6f6fe;
    border-radius: 8px;
}

#boxes {
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
    background: #f6f6fe;
    border-radius: 8px;
}

input[type="number"] {
    border: 1px solid #808080;
    border-radius: 8px;
    text-align: center;
    width: 150px;
    height: 40px;
}

button[data-create] {
    width: 120px;
    height: 40px;
    background: #4e75ff;
    border: none;
}

button[data-destroy] {
    width: 120px;
    height: 40px;
    background: #ff4e4e;
    border: none;
}

#boxes>div:not(:last-child) {
    margin-right: 44px;
}